@import "themes/yellow";
@import "themes/dark";

$theme-font: 'Montserrat', sans-serif;


$navbar-light-color:                rgba($theme-text-color, .8);
$navbar-light-hover-color:          rgba($theme-text-color, 1);
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($theme-color, 1);

$carousel-control-color: $theme-color;
$carousel-indicator-active-bg: $theme-color;
$carousel-control-icon-width: 5rem;
$carousel-indicator-width: 50px;
$carousel-indicator-height: 6px;
$carousel-caption-padding-y: 50%;

$navbar-brand-margin-end: 3rem;
$navbar-padding-y: 0;


// Required
@import "../node_modules/bootstrap/scss/bootstrap";


body {
  font-family: $theme-font;
  color: $theme-text-color;
  background-color: $theme-bg-color;
}
img{ filter: grayscale(100%)}

//navbar styling
.navbar-custom {
  background-color: black;
  font-size: xx-large;

  .navbar-nav {
    .nav-link {
      margin: 0;

      span {
        border-bottom: .5rem solid transparent;
        &:hover,
        &:focus {
          transition-duration: .5s;
          border-bottom-color: $theme-color;
        }
      }
    }
  }

  .navbar-brand{
    font-size: xx-large;
    font-family: $theme-font;
    font-weight: 900;
    color: $theme-color;
    pointer-events: none;
  }

  .navbar-toggler{
    &:focus{
    outline: 5px auto;
    }
  }
}

// carousel styling
#headerCarousel{
  margin-top: $nav-link-height;

  .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;

    h5 {

    }
    span {
      border-bottom: .2rem solid $theme-color;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: rgba(0,0,0,0.5);
    }
  }


}

// Bio styling
.band-info {

  h3 span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-bottom: .5rem solid $theme-color;
    margin-bottom: 1rem;
  }

  .col-md-5 {
    text-align: center;
    justify-items: center;
    p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
  }

  h2 {
    font-width: 400;
  }


  .band-member {
    border: 5px solid $theme-color;
    margin-bottom: 25px;
    object-fit: cover;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }

  .members{
    background-color: $theme-bg-color-2;
  }

  .featurette-divider {
    margin: 1rem 0; /* Space out the Bootstrap <hr> more */
    color: $theme-color;
}

  /* Thin out the marketing headings */
  .featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  span {color: $theme-color;}
}
}

// music styling
@import "howler_styles";










